*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.box_shadow{
  box-shadow: 0 0 10px #000;
}
.box_shadow_2{
  box-shadow: 0 0 2px #000;
}

.border_radius_50{
  border: none;
  border-radius: 50%;
  overflow: hidden;
}
.border_radius_4{
  border: none;
  border-radius: 4px;
  overflow: hidden;
}
.transition_3{
  transition: .3s;
}
.border_bottom{
    border-bottom: 2px solid black;
    outline: none;
}
.border_bottom:focus{
  border-bottom: 2px solid green;
}
.Add_lesson_form{
  display: block;
  margin: 25px auto;
}
.Add_lesson_form label{
  margin-top: 28px;
  margin-left: 3% ;

}

.borderB{
  padding-bottom: 1px;
  border-bottom: 2px solid white;
  border-width: 0px;
  transition: all;
}
.boderBF{
  padding-bottom: 1px;
  border-bottom: 2px solid white;
  transition: all;
}
.transition_slow{
  transition: .5s ease-in;
}
.transition_slow_delay{
  transition-delay: 0.25s;
}
.shadow_white{
  box-shadow: 0 0 5px #fff;
}
.father:hover .child{
  bottom: 0;
}